.flex-dual {
	display: flex;
	align-content: space-around;
	align-items: center;
}

.flex-paragraph {
	justify-content: center;
	margin-left: 4%;
} 

.flex-self {
	display: flex;
	align-content: space-around;
	align-items: center;
}

.resize-20 {
	max-width: 20%;
  margin: auto;
}

.resize-25 {
	max-width: 25%;
  margin: auto;
}

.resize-30 {
	max-width: 30%;
  margin: auto;
}

.resize-35 {
	max-width: 35%;
  margin: auto;
}

.resize-40 {
	max-width: 40%;
  margin: auto;
}

.resize {
	max-width: 40%;
  margin: auto;
}

.resize-45 {
	max-width: 44%;
  margin: auto;
}

.resize-42 {
	max-width: 42%;
  margin: auto;	
}

.resize-50 {
	max-width: 50%;
  margin: auto;
}

.resize-60 {
	max-width: 60%;
  margin: auto;
}

.resize-70 {
	max-width: 70%;
  margin: auto;
}

.resize-80 {
	max-width: 80%;
  margin: auto;
}

.resize-90 {
	max-width: 90%;
  margin: auto;
}

.resize-110 {
	max-width: 110%;
  margin: auto;
}

.resize-200 {
	max-width: 200%;
  margin: auto;
}

.resize-dual {
	max-width: 45%;
  margin: auto;
}

.centered-img {
	align-content: center;
}

.flex-button {
	display: flex;
	justify-content: space-around;
}

.flex-button-fixed {
	display: flex;
	justify-content: space-around;
}

.flex-button-inline > .row {
	margin: 2%;
}

.mrg-left-x {
	margin-left: 15%;
}

.center {
	display: block;
  margin-left: auto;
  margin-right: auto;
}