.flex-dual {
	display: flex;
	align-content: space-around;
	align-items: center;
}

.flex-paragraph {
	justify-content: center;
	margin-left: 4%;
} 

.flex-self{
	display: flex;
	align-content: space-around;
	align-items: center;
}

.resize {
	max-width: 50%;
  margin: auto;
}

.resize-dual {
	max-width: 45%;
  margin: auto;
}

.centered-img {
	align-content: center;
}

.space-img {

}

.flex-button {
	display: flex;
	justify-content: space-around;
}

.flex-button-inline > .row {
	margin: 2%;
}